@{

}

<form method="get">
    <div style="display:flex">
        <button type="submit" asp-action="SoloVisit">
            <img src="/assets/User.jpg" height="100" width="100" />
            <p>Личное посещение</p>
        </button>

        <button type="submit" asp-action="GroupVisit">
            <img src="/assets/User.jpg" height="100" width="100" />
            <p>Групповое посещение</p>
        </button>
    </div>
</form>